<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width,initial-scale=1.0">
                <title>TEMPLATE</title>
                <link href="https://fonts.googleapis.com/css?family=Audiowide|IBM+Plex+Mono|Libre+Barcode+39&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                <style>
                    
                    .header {
                        margin:25px auto;
                    }
                    .the-border {
                        border-bottom: 2px solid black;
                        margin: 25px auto;
                    }
                </style>
        </head>
        <body class="container-fluid">
                <div class="row">
                    <!-- example responsive column definitions below -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">This is 1st column</div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">This is 2nd column</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">This is 3rd column</div>
                </div>

        </body>